@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles */
.custom-scrollbar {
  /* Set height and width of the container */
  overflow: auto;
  height: 400px; /* Adjust as needed */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6c757d; /* Scrollbar color */
  border-radius: 4px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Track color */
  border-radius: 4px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #5a6268; /* Scrollbar color on hover */
}
